html {
    height: 100%;
}

/* anti-default */
input[type="checkbox"] {
    border-radius: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/*  */

body {
    margin: 0;
    background-color: #cdf9cc;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    height: 5vh;
    display: flex;
    align-items: center;
}
#header > * {
    margin-right: 5px;
}

textarea {
    border-radius: 5px;
    border-width: 0;
    height: 20px !important;
    margin-left: 2.5%;
}

#order {
    height: 25px;
    width: 25px;
    border: solid 1px gray;
    border-radius: 50%;
    align-items: center;
}
@keyframes desc {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes asc {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#order:hover {
    border-color: black;
}
#order.desc {
    animation: desc 0.2s ease-out forwards;
}
#order.asc {
    animation: asc 0.2s ease-out forwards;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: white;
    padding: 3px 10px;
    border-radius: 15px;
}

input[type="checkbox"] {
    height: 24px;
    width: 24px;
    background-image: url(./image/cross.png);
    background-size: contain;
    background-repeat: no-repeat;
}
input[type="checkbox"]:checked {
    background-image: url(./image/check.png);
}

#container {
    align-self: center;
    margin-top: 5px;
    width: 95%;
    height: 90vh;
    padding-bottom: auto;
    background-color: #fff3e2;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    overflow-x: hidden;
}
#container::-webkit-scrollbar {
    width: 10px;
}
#container::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 5px;
}

row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
speaker {
    background-image: url("./image/speaker.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    align-self: center;
    margin-left: 5px;
}
audio {
    align-self: center;
    height: 40px;
}
sentence {
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: white;
    padding: 0 5px 0 5px;
    border-radius: 10px;
    margin-bottom: 3px;
}
sentence:hover {
    background-color: aliceblue;
}
sound {
    width: 34px;
    height: 34px;
}

chara {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
}

pinyin {
    height: 10px;
    font-size: 10px;
    margin: 0;
    user-select: none;
}
letter {
    font-size: 24px;
}
jp {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    background-color: white;
    padding: 0 5px 0 5px;
    border-radius: 10px;
    font-size: 24px;
}
jp::before {
    content: "";
    background-image: url("image/Google_Translate_logo.svg");
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    padding-right: 3px;
}
